@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Astrum Script Cyrillic";
  src: local("Astrum Script Cyrillic Regular"),
    local("Astrum-Script-Cyrillic-Regular"),
    url("./assets/fonts/AstrumScriptCyrillic_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Acrom Bold";
  src: local("Acrom Bold"), local("Acrom Bold"),
    url("./assets/fonts/Acrom-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Appearance */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.icon-tabler-heart {
  transition: all 0.3s ease;
}
.icon-tabler-heart-checked {
  fill: red;
  stroke: red;
}
.icon-tabler-heart:hover {
  fill: pink;
}
.icon-tabler-heart:active {
  fill: red;
  transform: scale(1.1);
}

/* Header */
.nav-link {
  @apply font-main text-lg text-slate-500 hover:text-slate-900;
}
